*$py.class
*.~ml
*.aps
*.BACKUP.*
*.bak
*.cache
*.dbmdl
*.dll

*.ilk
*.lib
*.log
*.log*
*.msi
*.mvfs_*
*.ncb
*.nupkg
*.obj
*.orig
*.pch
*.pdb
*.sbr
*.scc
*.suo
*.swo
*.swp
*.tlb
*.tlh
*.tmp
*.user
*.vspscc
*.vsscc
*.vssscc
*.wixobj
*.wixpdb
*.zip
*_i.c
*_p.c
..bfg-report
[Bb]in
[Bb]in/
[Bb]inaries/
[Bb]uild/
[Dd]ebug*/
[Oo]bj/
[Rr]efs/
[Rr]elease*/
[Tt]est[Rr]esult*
[Ww]ebsites/
_ReSharper*/
include.wxs
Log
logs/
packages
Thumbs.db
UpgradeLog.htm
!*.DotSettings
!.nuget/*
!*.dtproj.user
