<?xml version="1.0" encoding="UTF-8"?>
<?define MyApplication.TargetPath="..\..\\HelloWorldWix\HelloWorld\bin\Debug\HelloWorld.exe"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="Setup.HelloWorld" Language="1033" Version="1.0.0.0" Manufacturer="Microsoft" UpgradeCode="2c18688b-b619-414a-a1fd-3f4f09457023">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="Setup.HelloWorld" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="Setup.HelloWorld" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			 <Component Id="ProductComponent">
         <File Source="$(var.MyApplication.TargetPath)" />
			 </Component> 
		</ComponentGroup>
	</Fragment>
</Wix>