<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:iis="http://schemas.microsoft.com/wix/IIsExtension">
	<Product Id="*" Name="HelloWorld.Setup" Language="1033" Version="1.0.0.0" Manufacturer="Tesco" UpgradeCode="4c3ba32e-394d-4fa5-90ea-580f4b1d980f">
<?define WEB_SITE = "Default Web Site" ?>
<?define WEB_APP = "HelloWorldService" ?>
<?define APP_POOL = "HelloWorldServiceAppPool" ?>
<?define APP_POOL_MANAGEDRUNTIMEVERSION = "v4.0" ?>
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." AllowSameVersionUpgrades="yes" />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="HelloWorld.Setup" Level="1">
			<ComponentGroupRef Id="include_cg" />
      <ComponentRef Id="IIS_Component" />
		</Feature>

 
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="HelloWorld.Setup" />
			</Directory>
		</Directory>


    <Component Id="IIS_Component" Guid="{BC0907A7-136E-4198-BD7A-6D685C0A9DED}" KeyPath="yes" Directory="INSTALLFOLDER">
      <iis:WebVirtualDir Id="VirtualDir" Alias="$(var.WEB_APP)" WebSite="Web_site" Directory="INSTALLFOLDER">
        <iis:WebApplication Id="WebApplication" Name="$(var.WEB_APP)" WebAppPool="App_Pool" />
      </iis:WebVirtualDir>
      <iis:WebAppPool Id="App_Pool"
				Name="$(var.APP_POOL)"
				Identity="networkService"
				IdleTimeout="20"
				ManagedRuntimeVersion="$(var.APP_POOL_MANAGEDRUNTIMEVERSION)"
				ManagedPipelineMode="Integrated"
				RecycleMinutes="1740"
				RecycleRequests="0"
			/>
    </Component>
    <iis:WebSite Id="Web_site" Description="$(var.WEB_SITE)" SiteId="*">
      <iis:WebAddress Id="Web_Address" Port="*"/>
    </iis:WebSite>
  </Product>
</Wix>